<div class="row justify-content-center align-self-center">
    <div class="row">
        <div class="shadow-lg card" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title">Register</h5>

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                
                <div class="form-group row">
                    <label for="Email" class="col-4 col-form-label">Email</label>
                    <div class="col-8">
                        <div class="input-group">
                            <input id="email" name="email" type="email" class="form-control" required="required"
                                formControlName="Mail">
                        </div>
                    
                            <small *ngIf="email.invalid" class="text-danger">
                                <ng-container *ngIf="email.errors.required">
                                    Email is required.
                                </ng-container>
                                <ng-container *ngIf="email.errors.email">
                                    Email address field should be in the format 'someone@something.com'.
                                </ng-container>
                            </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Username" class="col-4 col-form-label">Username</label>
                    <div class="col-8">
                        <div class="input-group">
                            <input id="username" name="username" type="text" class="form-control" required="required"
                                formControlName="User">
                        </div>
                        <small *ngIf="username.invalid" class="text-danger">
                            <ng-container *ngIf="username.errors.required">
                                Username field is required.
                            </ng-container>
                            <ng-container *ngIf="username.errors.minlength">
                                Username should be more than 3 characters in length.
                            </ng-container>
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Password" class="col-4 col-form-label">Password</label>
                    <div class="col-8">
                        <div class="input-group">
                            <input id="Password" name="Password" type="password" class="form-control"
                                required="required" formControlName="Pass">
                        </div>
                        
                        <small *ngIf="password.invalid" class="text-danger">
                            <ng-container *ngIf="password.errors.required">
                                Password field is required.
                            </ng-container>
                            <ng-container *ngIf="password.errors.minlength">
                                Password should be more than 6 characters in length.
                            </ng-container>
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-4 col-8">
                        <input name="submit" type="submit" class="btn btn-success" value="Register"/>
                    </div>
                    <small>Already have an account? <a routerLink="/login">Login</a></small>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>